Repository hasiberri/snippets: changes, and which Jenkins stages are due for each by the changed paths.
All: BuildPush example1, BuildPush example2

Jenkinsfile:

pipeline {
    agent any
    stages {
        stage('BuildPush example1') {
            when { changeset "example1/*"}
            steps {
                sh 'echo "This is example1"'
            }
        }
        stage('BuildPush example2') {
            when { changeset "example2/*"}
            steps {
                sh 'echo "This is example2"'
            }
        }
        stage('Build2') {
            steps {
                sh 'echo "This is the next stage"'
            }
        }
    }
}

Just for testing Jenkins
  example1/Dockerfile
Due: BuildPush example1

Just for testing Jenkins
  Jenkinsfile
  example2/Dockerfile
Due: BuildPush example2

Just for testing Jenkins
  Jenkinsfile
Due: none

Just for testing Jenkins
  Jenkinsfile
  example2/Dockerfile
  example2/dockerfile
Due: BuildPush example2

Just for testing Jenkins
  Jenkinsfile
  example1/Dockerfile
  example1/dockerfile
Due: BuildPush example1

Just for testing Jenkins
  Jenkinsfile
  example2/dockerfile
Due: BuildPush example2

Just for testing Jenkins
  example2/dockerfile
Due: BuildPush example2

Just for testing Jenkins
  example1/dockerfile
  example2/dockerfile
Due: BuildPush example1, BuildPush example2

Just for testing Jenkins
  Jenkinsfile
  example1/dockerfile
  example2/dockerfile
Due: BuildPush example1, BuildPush example2

Just for testing Jenkins
  example1/dockerfile
Due: BuildPush example1

testing jenlins
  Jenkinsfile
  example1/dockerfile
  example2/dockerfile
Due: BuildPush example1, BuildPush example2

testing jenlins
  Jenkinsfile
Due: none

testing jenlins
  example1/dockerfile
  example2/dockerfile
Due: BuildPush example1, BuildPush example2

testing jenlins
  microservicesDocker.groovy
Due: none

testing jenlins
  vars/microservicesDocker.groovy
Due: none

testing jenlins
  example1/dockerfile
Due: BuildPush example1
